
    	<div class="nav navbar-default" >
           <div class="container">
          <ul class="nav navbar-nav">
         
            <li>
              <%= link_to surveys_path do %>
                All surveys
                <span class='badge'> <%= surveys_count %> </span>
              <% end -%>
            </li>
            <% if current_admin %>
            <li>
              <%= link_to companies_path do %>
                All Companies
                <span class='badge'> <%= companies_count %> </span>
              <% end -%>
            </li>
            <% end %>

          <% if current_admin %>
              <li class="dropdown" id="special-drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create Actions<span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li> <%= link_to ' New Opinion Poll', new_survey_path(type: 'poll') %> </li>
                    <li> <%= link_to ' New Quiz', new_survey_path(type: 'quiz') %> </li>
                    <li> <%= link_to ' New Score Survey', new_survey_path(type: 'score') %> </li>
                    <li> <%= link_to ' New Company', new_company_path %> </li>
                </ul>
          <% end %>

          </ul>
        </div>
    </div>


