<div class="cover_header">
		<%= image_tag "plextalent_app.png", class: "talent-logo" %>
	<h1 id="welcome" >Welcome to Talent</h1>
		<h3 id="get-started">To get started, verify your company key</h3>
		<br>
		<br>
<div class="signin-box">
<div class='form-group col-sm-12'>
<%= form_tag pages_path, :id => "verify-key" do %>
<%= text_field_tag :company_key, nil, class: 'form-control', id: "comp-key", placeholder: "Enter company key", autofocus: true %>
<br>
 <!-- Button trigger modal -->
<%= submit_tag "Verify Key", class: "btn btn-success btn-lg btn-block", id: "comp-button" %>
<% end %>
</div>
  <!-- Modal -->
  <div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="todo" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="todo">Company Key Verification</h4>
        </div>
        <div class="modal-body">
    		<p id="response"></p>
    		<h3 id="verified"></h3>
    		<div class="key-container">
    		<h4 id="key"></h4>
    		</div>
        </div>
        <div class="modal-footer">

			<%= button_to "Continue", new_user_registration_path, :id => "continue-button", :class =>  "btn btn-success btn-lg btn-block", :method => :get %> 
        </div> <!-- key container --> 
      </div> <!-- Modal Footer -->
    </div> <!-- Modal body -->
  </div> <!-- Modal fade -->
</div> <!-- Sign in box -->
</div> <!-- Cover Header -->


  <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">
        <div class="container">
           <div class="body-text">
    <br>
  <h2>Talent feedback with a boost</h2>
  <h4>Engage with your employees in three easy steps</h4>
  </div>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Step 1: Verify Key</h2>
                    <p class="lead">Each company is assigned a unique comapny key. Employees can verify their key to get started. </p>
                      <!--<div class="key-container">
                        <h3 id="key">ABCDEFGHIJ</h3>
                      </div>-->
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div id="typed-key">
                            <h4>Enter company key</h4>
                      <div class="type-wrap title big">
                        <div class="typed-strings">
                            <p>ABCDEFGHIJ</p>
                        </div>
                      <span class="typed"></span>
                  </div>        
                </div>
            </div>
        </div>
        <!-- /.container -->
      <br>
      <br>
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Step 2: Register your company email</h2>
                    <p class="lead">Each company is assigned a unique comapny key. Employees can verify their key to get started.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <div id="typed-key">
                    <h3>steve@next.com</h3>
                  </div>
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->





<div class="container">
  <div class="body-text">
    <br>
  <h2>Talent feedback with a boost</h2>
  <h4>Engage with your employees in three easy steps</h4>
  </div>

  <div class="step-1">
    <div class="col-md-7">
    <h3>Step 1: Verify Key</h3>
    <h5>Each company is assigned a unique comapny key. Employees can verify their key to get started. </h5>
    <div class="key-container">
      <h3 id="key">ABCDEFGHIJ</h3>
    </div>
    </div>
    <div class="col-md-4" id="typed-key">
        <div class="type-wrap title big">
          <div class="typed-strings">
              <p>ABCDEFGHIJ</p>
          </div>
        <span class="typed"></span>
    </div>                                    
    </div>
    <hr>

<div class="step-2">
  <div class="col-md-6">
    <h3>Step 2: Register your company email</h3>
    <h5>Register your company email, and set an account password.</h5>
  </div>
</div>
  <div class="col-md-6" id="email-key">
    <h3>steve@next.com</h3>
  </div>

  </div>
</div>
