<div class="cover_header">
		<%= image_tag "plextalent_app.png", class: "talent-logo" %>
	<h1 id="welcome" >Welcome to Talent</h1>
		<h3 id="get-started">To get started, verify your company key</h3>
		<br>
		<br>
<div class="signin-box">



<div class='form-group col-sm-12'>


<%= form_tag pages_path, :id => "verify-key" do %>
<%= text_field_tag :company_key, nil, class: 'form-control', id: "comp-key", placeholder: "Enter company key" %>
<br>
 <!-- Button trigger modal -->
<%= submit_tag "Verify Key", class: "btn btn-success btn-lg btn-block", id: "comp-button" %>
	
<% end %>
</div>


  <!-- Modal -->
  <div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="todo" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="todo">Company Key Verification</h4>
        </div>
        <div class="modal-body">
    		<p id="response"><%= @company %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



</div>
</div>