<div class="container">
  <div class="questionnaires_<%= action_name %>">
    <h2>
      My Dashboard
    </h2>
    <hr>
    <% if @surveys.empty? %>
      <p> There are no surveys </p>
    <% else %>
      <p>
        <% if current_admin %>
        Filter by type:
        <%= render 'survey_label_all' %>
        <%= render partial: 'survey_label', collection: get_survey_types.keys, as: :survey_type, locals: { with_badges: true } %>
      </p>
      <% end %>
      <table class='table table-nonfluid survey-table'>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Questions</th>
            <% if current_admin %>
            <th>Participants</th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'survey', collection: @surveys %>
        </tbody>
      </table>
      <%= paginate @surveys %>
    <% end %>
  </div>
</div>
